.autocomplete-content
  display: none
  position: absolute
  top: 26px
  width: 100%
  max-height: 194px
  border: 1px solid #dbdbdb
  background-color: #fff
  font-family: Helvetica, sans-serif
  font-weight: 300
  font-size: 16px
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  z-index: 2
  overflow-x: auto
  &::-webkit-scrollbar-track
    background-color: transparent
  &::-webkit-scrollbar
    width: 5px
    background-color: transparent
  &::-webkit-scrollbar-thumb
    background-color: #c1c1c1

.autocomplete-open .autocomplete-content
  display: block

.autocomplete-list
  span
    display: block
    padding: 7px 7px
    border-bottom: 1px solid rgb(239, 239, 239)
    font-size: 14px
    font-weight: 400
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  .autocomplete-item
    cursor: pointer
    font-size: 13px
    font-weight: 400
  .autocomplete-item-empty
    color: #a4a0a0

.autocomplete-item:hover
  background: rgb(239, 239, 239)
