.wrap-text
  max-width: 300px
  word-wrap: break-word

.wrap-text-single
  max-width: 500px
  word-wrap: break-word

.line-text
  display: block
  max-width: 500px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.line-text1
  display: block
  max-width: 300px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.columns
  margin-bottom: 0rem !important

.navbar-link::after
  border: 1px solid #574F44
