.lang-switcher
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  li
    display: inline-block;
    border-right: 1px solid #F0802A;
    float: left;
    &:last-child
      border-right: none;
    a
      background-color: #FAFAFA;
      padding: 3px 5px;
      color: #F0802A;
      transition: all 0.5s ease;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      min-width: 40px;
      text-align: center;
      &:hover
        text-decoration: none;
      &.is-active
        color: #000000;
        cursor: default;
  &.lang-switcher--pill, &.lang-switcher--rounded-pill
    border: 1px solid #F0802A;
  &.lang-switcher--pill a:hover, &.lang-switcher--rounded-pill a:hover
    background: #F0802A;
    color: #ffffff;
  &.lang-switcher--pill a.is-active
    background-color: #F0802A;
    color: #ffffff;
  &.lang-switcher--rounded-pill
    a.is-active
      background-color: #F0802A;
      color: #ffffff;
    border-radius: 15px;
    li
      &:first-child a
        padding-left: 10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      &:last-child a
        padding-right: 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
