.loader-bg
  bottom: 0
  left: 0
  right: 0
  background-color: $loading-color
  z-index: 1
  height: 100%
  width: 100%

.loader-content
  text-align: center
  overflow: hidden
  padding: 181px 10px

// .spinner
//   width: 120px;
//   height: 120px;
//   border: 2px solid $primary;
//   border-radius: 50%;
//   margin: auto;
//   padding: 31px 5px;

.spinner
  border: 14px solid transparent
  border-radius: 50%
  width: 120px
  height: 120px
  padding: 26px 5px
  margin: auto
  -webkit-animation: spin 2s linear infinite
  animation: spin 2s linear infinite

@-webkit-keyframes spin
  0%
    border-top: 14px solid $primary
  25%
    border-right: 14px solid $primary
  50%
    border-bottom: 14px solid $primary

  100%
    border-left: 14px solid $primary


@keyframes spin
  0%
    border-top: 14px solid $primary
  25%
    border-right: 14px solid $primary
  50%
    border-bottom: 14px solid $primary

  100%
    border-left: 14px solid $primary
