.sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background-color: #F5F5F5
  overflow-x: hidden
  transition: 0.5s
  box-shadow: 6px 0px 11px 2px rgba(214,215,217,0.65);
  // padding-top: 60px
  a
    padding: 10px 8px 8px 32px
    text-decoration: none
    font-size: 14px
    color: #818181
    display: block
    transition: 0.3s
    border: none
    background: none
    text-align: left
    cursor: pointer
    outline: none
    border-bottom: 1px solid #E0E0E0

.dropdown-btn
  padding: 10px 8px 8px 32px
  text-decoration: none
  font-size: 14px
  color: #818181
  display: block
  transition: 0.3s
  border: none
  background: none
  text-align: left
  cursor: pointer
  outline: none
  width: 100%
  border-bottom: 1px solid #E0E0E0

.sidenav a:hover, .dropdown-btn:hover
  color: #424242

.sidenav .closebtn
  position: absolute
  top: -10px
  right: 15px
  font-size: 36px
  margin-left: 50px
  color: #757575
  cursor: pointer

.active
  background-color: #424242
  color: white

.active:hover
  color: #757575

.dropdown-container
  display: none
  background-color: #E0E0E0
  padding-left: 8px

.fa-caret-down
  float: right
  padding-right: 8px

#main
  transition: margin-left .5s

@media screen and (max-height: 450px)
  .sidenav
    // padding-top: 15px
    a
      font-size: 12px
    .dropdown-btn
      font-size: 12px
