.table thead tr:hover
  background-color: #156f19
.table thead tr
  background-color: $primary

#table-wrapper
  position: relative

#table-scroll
  height: 150px
  overflow: auto
  margin-top: 20px

#table-wrapper table
  width: 100%
  thead th .text
    position: absolute
    top: -20px
    z-index: 2
    height: 20px
    width: 50%
    background: #74CEE2
    color: aliceblue
