$green-siera: #4CAF50;
$orange: #F57C00;
$blue: #2962FF;
$red: #c0392b;
$green: #2E7D32;
$whitesmoke: #F5F5F5 !important;
$choco-btpn: #574F44 !important;
$family-serif: 'Open Sans', sans-serif;
$loading-color: rgba(255, 255, 255, 0.77);

:export {
  primary: $green-siera;
  warning: $orange;
  info: $blue;
  danger: $red;
  success: $green;
  white: $whitesmoke;
}
