$spaceamounts: (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); 
$sides: (top, bottom, left, right);

@each $space in $spaceamounts
  .ma-#{$space}
    margin: #{$space}px !important
  .mx-#{$space}
    margin: 0px #{$space}px !important
  .my-#{$space}
    margin: #{$space}px 0px !important
  @each $side in $sides 
    .m#{str-slice($side, 0, 1)}-#{$space} 
      margin-#{$side}: #{$space}px !important

@each $space in $spaceamounts
  .pa-#{$space}
    padding: #{$space}px !important
  .px-#{$space}
    padding: 0px #{$space}px !important
  .py-#{$space}
    padding: #{$space}px 0px !important
  @each $side in $sides 
    .p#{str-slice($side, 0, 1)}-#{$space} 
      padding-#{$side}: #{$space}px !important
